{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="ahsania mission medical college,medical, college,ahsania,mission">
    <meta name="date" content="Dec 26">
    <title>{% block title %}Default Value{% endblock title %}</title>
    
    <link rel="icon" href="{% static '/images/header_icon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.7.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
      <!-- Start of LiveChat Messenger code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 14145639;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>


<noscript>
    <a href="https://www.livechat.com/chat-with/14145639/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static '/images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
 
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->

          <header class="page-head header-panel-absolute">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title d-lg-none">AMMC</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-top-panel-toggle d-lg-none" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                <div class="rd-navbar-top-panel">
                  <div class="rd-navbar-top-panel-left-part">
                    <ul class="list-unstyled">
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                          <div class="unit-body"><a href="tel:#">018-473-59230,</a> <a class="d-block d-lg-inline-block" href="tel:#">10617</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                          <div class="unit-body"><a href="#">Plot-03, Embankment Drive Way,Sector-10 Uttara Model Town, Dhaka</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><a href="mailto:#">info.ammcu@gmail.com</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="rd-navbar-top-panel-right-part">
                    <div class="rd-navbar-top-panel-left-part">
                      <div class="unit flex-row align-items-center unit-spacing-xs">
                        <div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
                        <div class="unit-body"><a href="login-register.html">Login/Register</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap clearfix">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a class="d-inline-block" href="index.html">
                    <div class="unit align-items-sm-center unit-xl flex-column flex-xxl-row unit-spacing-custom">
                      <div class="unit-left"><img width='170' height='172' src='{% static '/images/AMMC-170x172-Logo.png' %}' alt=''/>
                      </div>
                      <div class="unit-body text-xxl-start">
                        <div class="rd-navbar-brand-title">Ahsania Mission Medical College</div>
                        <div class="rd-navbar-brand-slogan">A sister concern of Ahsania Mission Cancer & General Hospital</div>
                      </div>
                    </div></a></div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="{% url 'Home:Home' %}"><img width='136' height='138' src='{% static '/images/AMMC-170x172-Logo.png' %}' alt=''/></a></div>
                    </div>
                    <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                      <li class="active"><a href="{% url 'Home:Home' %}">Home</a>
                      </li>

                    <li><a href="#">About Us</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="{% url 'Home:governing_body' %}">Governing Body</a>
                          </li>
                          <li><a href="{% url 'Home:404' %}">Mission & Vision</a>
                          </li>
                            <li><a href="{% url 'Home:404' %}">Objective</a>
                          </li>
                            <li><a href="{% url 'Home:404' %}">Management Team</a>
                          </li>
                        </ul>
                      </li>

                        <li>
                            <a href="#">Admission</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative">
                             <ul class="col-lg-4">
                              <li>
                                <h6>Guidelines</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="{% url 'Home:eligibility' %}">Admission Eligibilty</a></li>
                                  <li><a href="{% url 'Home:application' %}">Admission Guidelines</a></li>
                                  <li><a href="{% url 'Home:404' %}">Admission Process</a></li>

                                </ul>
                              </li>
                            </ul>

                            <ul class="col-lg-4">
                              <li>
                                <h6>Admission Information</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="{% url 'Home:application' %}">Admission</a></li>
                                  <li><a href="{% url 'Home:404' %}">Admission Test Result</a></li>
                                  <li><a href="{% url 'Home:404' %}">Admission Contact</a></li>
                                  <li><a href="{% url 'Home:404' %}">Programs</a></li>
                                </ul>
                              </li>
                            </ul>

                            <ul class="col-lg-4">
                              <li>
                                <h6>Fees and Funding</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="{% url 'Home:fees' %}">Tuition Fees for Local Students</a></li>
                                  <li><a href="{% url 'Home:404' %}">Tuition Fees for International Students</a></li>
                                  <li><a href="{% url 'Home:fees' %}">Payment Guidelines for All Students</a></li>
                                  <li><a href="{% url 'Home:404' %}">Scholarships for Local Students</a></li>
                                  <li><a href="{% url 'Home:404' %}">Financial Aid & Scholarship</a></li>
                                </ul>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </li>

                        <li>
                            <a href="#">Academics</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative">
                            <ul class="col-lg-4">
                              <li>
                                <h6>Faculties & Departments</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                    {% for department in department1 %}
                                        <li><a href="{{ department.get_absolute_url }}?departments={{ department.department_name }}">{{ department.department_name }}</a></li>
                                    {% endfor %}

                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-4">
                              <li>

                                <ul class="list-unstyled offset-lg-top-20">
                                     {% for department_2 in department2 %}
                                        <li><a href="{{ department_2.get_absolute_url }}?departments={{ department_2.department_name }}">{{ department_2.department_name }}</a></li>
                                    {% endfor %}
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-4">
                              <li>
                                <h6>Faculty Directory</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="header-transparent.html">Faculty Members</a></li>
                                  <li><a href="header-center.html">Deans & Heads</a></li>
                                  <li><a href="header-minimal.html">Assosiate Deans & Heads</a></li>
                                  <li><a href="header-corporate.html">International Advisors</a></li>

                                </ul>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </li>


                      <li><a href="#">News & Events</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="{% url 'Home:all-news' %}">All News</a>
                          </li>
                          <li><a href="{% url 'Home:event' %}">Events</a>
                          </li>
                            <li><a href="{% url 'Home:gallery' %}">Gallery</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Notice</a>
                      <ul class="rd-navbar-dropdown">
                          <li><a href="{% url 'Home:notice' %}">General Notice</a>
                          </li>
                            <li><a href="{% url 'Home:job-circular' %}">Job Circular</a>
                          </li>
                          <li><a href="{% url 'Home:prospectus_view' %}">Prospectus</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="{% url 'Home:contact-us' %}">Contacts</a>
                      </li>

                    </ul>
                    <!--RD Navbar Mobile Search-->
                    <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                      <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-navbar-mobile-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-input form-input-gray-lightest" id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off"/>
                        </div>
                        <button class="icon fa fa-search rd-navbar-search-button" type="submit"></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                      <input class="rd-navbar-search-form-input form-input form-input-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                      <div class="rd-search-results-live" id="rd-search-results-live"></div>
                    </div>
                  </form>
                </div>
                <!--RD Navbar shop-->
{#                <div class="rd-navbar-cart"><span class="icon fa fa-shopping-cart"></span><a class="inset-left-10" href="shopping-cart.html">2</a></div>#}
              </div>
            </div>
          </nav>
        </div>
      </header>

   {% block content %}


    {% endblock %}
 <!-- Corporate footer-->
      <footer class="page-footer">
        <div class="hr bg-gray-light"></div>
        <div class="container section-xs block-after-divider">
          <div class="row row-50 justify-content-xl-between justify-content-sm-center">
            <div class="col-lg-6 col-xl-6">
              <!--Footer brand--><a class="d-inline-block" href="{% url 'Home:Home' %}"><img width='170' height='172' src='{% static '/images/AMMC-136x138-Logo.png' %}' alt='footer_logo'/>
                <div>
                  <h6 class="barnd-name fw-bold offset-top-25">Ahsania Mission Medical College(AMMC)</h6>
                </div>
                <div>
                  <p class="brand-slogan text-gray fst-italic font-accent"style="text-align: center;">A sister concern of Ahsania Mission Cancer & General Hospital</p>
                </div></a>
            </div>
            <div class="col-sm-10 col-lg-6 col-xl-6 text-xl-start">
              <h6 class="fw-bold">Contact us</h6>
              <div class="text-subline"></div>
              <div class="offset-top-30">
                <ul class="list-unstyled contact-info list">
                  <li>
                    <div class="unit flex-row align-items-center unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-phone text-middle icon-xs text-madison"></span></div>
                      <div class="unit-body"><a class="text-dark" href="tel:018-473-59230">018-473-59230<br>HotLine: 10617</a>
                      </div>
                    </div>
                  </li>
                  <li class="offset-top-15">
                    <div class="unit flex-row align-items-center unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                      <div class="unit-body text-start"><a class="text-dark" href="#">Plot-03, Embankment Drive Way,Sector-10<br> Uttara Model Town, Dhaka
</a></div>
                    </div>
                  </li>
                  <li class="offset-top-15">
                    <div class="unit flex-row align-items-center unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                      <div class="unit-body"><a href="mailto:info.ammcu@gmail.com">info.ammcu@gmail.com</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="offset-top-15 text-start">
                <ul class="list-inline list-inline-xs list-inline-madison">
                  <li><a class="icon icon-xxs fa fa-facebook icon-circle icon-gray-light-filled" href="https://www.facebook.com/ahsaniamedicalcollege"></a></li>
                  <li><a class="icon icon-xxs fa fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                  <li><a class="icon icon-xxs fa fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                  <li><a class="icon icon-xxs fa fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
                </ul>
              </div>
            </div>
        <!--            <div class="bg-madison context-dark">-->
        <!--  <div class="container text-lg-start section-5">-->
        <!--     <p>&copy; <span class="copyright-year"></span> All Rights Reserved Terms of Use and <a href="#">Privacy Policy</a>-->
        <!--    . Design&nbsp;by&nbsp;<a class="link-gray-dark" href="#">Ammch, IT Department</a>-->
        <!--  </p>-->
        <!--     </div>-->
        <!--</div>-->

        </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="{% static '/js/core.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

  </body>
</html>