{% extends 'Home/base.html' %}
{% block title %}MBBS Course | Ahsania Mission Medical College{% endblock title %}
{% load static %}
{% block content %}
{#          <section class="section breadcrumb">#}
{#        <div class="container">#}
{#          <div class="offset-top-10 offset-md-top-35">#}
{#            <ul class="list-inline list-inline-lg list-inline-dashed p">#}
{#              <li><a href="{% url 'Home:Home' %}">Home</a></li>#}
{#              <li>Course Details#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
      
{#     <section class="section breadcrumb-classic context-dark">#}
{#        <div class="container">#}
{#          <h2>Course Details</h2>#}
{#          <div class="offset-top-10 offset-md-top-35">#}
{#            <ul class="list-inline list-inline-lg list-inline-dashed p">#}
{#              <li><a href="{% url 'Home:Home' %}">Home</a></li>#}
{#              <li><a href="#">Course Details</a></li>#}
{# #}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
      <!--A Meeting of Minds-->
<section class="section section-xl bg-default" style="padding-top: 25px;">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-4 order-lg-2 text-lg-start"><img class="img-responsive d-inline-block" src="../static/images/apply-01-370x370.jpg" width="370" height="370" alt=""></div>
            <div class="col-lg-8 order-lg-1 text-lg-start">
              <div class="inset-lg-right-30">
                <h2 class="fw-bold">Course Details</h2>
                <hr class="divider bg-madison divider-lg-0">
                <div class="offset-top-30 offset-sm-top-60">
                    <p> The college is affiliated with the University of Dhaka and offers 5 </p>                </div>
                  <p> years MBBS Course as approved by BM&DC leading to MBBS
degree of the University of Dhaka. The college has been approved
& accorded permission by the Ministry of Health & Family Welfare,
Govt. of the People's Republic of Bangladesh.</p>

                    </div>
            </div>
          </div>
        </div>
      </section>

     <section class="section section-xl section-grid-demonstration bg-default">
        <div class="container-fluid">
          <div class="inset-xxl-left-60 inset-xxl-right-60">
            <h2 class="fw-bold">Departments</h2>
            <hr class="divider bg-madison">
            <div class="row row-30 offset-top-60 text-md-start">


              <div class="col-3">
                <div class="bg-lightest section-30 inset-left-30 inset-right-30">
                  <div>
                    <h6 class="fw-bold">Anatomy</h6>
                      <p>Department of Anatomy is responsible for teaching pre-clinical
                            students of AMMC. The department teaches various discipline of
                            Anatomy namely Gross Anatomy, Embryology, Neuro Anatomy,
                            Histology, Radiological Anatomy and Living Anatomy providing
                            special emphasis on general, applied and functional aspects. Three
                            academic terms cater for 530 hours out of which theoretical
                            lectures cover 115 hours and rest 415 hours are for tutorial,
                            practical, dissection and demonstration classes.</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-lightest section-30 inset-left-30 inset-right-30">
                  <div>
                    <h6 class="fw-bold">Physiology</h6>
                      <p>The Department of Physiology is entrusted to teach Medical
                        Physiology in 3 terms during first one and half year of MBBS
                        course. The aim of teaching Physiology is to make medical
                        students understand the normal functions of human body, the
                        homeostatic mechanisms and also the physical and chemical
                        factors those are responsible for origin, development and
                        progression of life.</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-lightest section-30 inset-left-30 inset-right-30">
                  <div>
                    <h6 class="fw-bold">Biochemistry</h6>
                      <p>Science of Biochemistry helps to understand the maintenance of
                            health and effective treatment of diseases. The department is thus
                            organized to teach students about basic knowledge on life process
                            depending upon chemical principles, performing and interpreting
                            biochemical laboratory tests and procedures and requisite
                            knowledge for higher studies and research. The teaching
                            methodology involves theoretical lectures, tutorials and practical
                            demonstrations which includes 130 hrs for lectures, 110 hrs for
                            tutorials and 110 hrs for practical classes.</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="bg-lightest section-30 inset-left-30 inset-right-30">
                  <div>
                    <h6 class="fw-bold">Community Medicine</h6>
                      <p>Department of Community Medicine offers training to the medical
                        students on 3rd year of MBBS course. The objective of this course
                        is to provide community-oriented and need-based medical
                        education so as to produce good young dedicated doctors to ensure universal health services through effective Primary Health
                        Care. 5 hours of lectures are taken in 1st year under supervision of
                        community medicine department. The 3rd year course comprises of
                        110 hours of lecture classes, 160 hours of practical/tutorial classes
                        and 30 days of Community Based Medical Education (CBME) and
                        5 hours integrated teaching (total 275 hours + 30 days).
                        </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- Fill in the Form-->

{% endblock %}