{% extends 'Home/base.html' %}
{% block title %}Events | Ahsania Mission Medical College{% endblock title %}
{% block page_name %}Events{% endblock page_name %}
{% load static %}
{% block content %}
<!-- Classic Breadcrumbs-->
      <section class="section breadcrumb-classic context-dark">
        <div class="container">
            <h3>Events</h3>
          <div class="offset-top-10 offset-md-top-35">
            <ul class="list-inline list-inline-lg list-inline-dashed p">
              <li><a href="{% url 'Home:Home' %}">Home</a></li>
              <li>Events
              </li>
            </ul>
          </div>
        </div>
      </section>
<section class="section section-lg bg-default" >
        <div class="container">
          <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 text-start">

                <div class="offset-top-30 offset-lg-top-60">
                  <h6 class="fw-bold">No Events Currently Available.</h6>
                  <div class="text-subline"></div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- Corporate footer-->
{% endblock %}