{% extends 'Home/base.html' %}
{% block title %}Gallery | Ahsania Mission Medical College{% endblock title %}
{% block page_name %}Gallery{% endblock page_name %}
{% load static %}
{% block content %}
<!-- Classic Breadcrumbs-->

{#      #}
{#                 <section class="section breadcrumb-classic context-dark">#}
{#        <div class="container">#}
{#          <h2>Gallery</h2>#}
{#          <div class="offset-top-10 offset-md-top-35">#}
{#            <ul class="list-inline list-inline-lg list-inline-dashed p">#}
{#              <li><a href="{% url 'Home:Home' %}">Home</a></li>#}
{#              <li><a href="#">Gallery</a></li>#}
{# #}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}

      <!-- Portfolio Grid-->
<section class="section section-xl bg-default" style="padding-top: 25px;">
        <div class="container isotope-wrap">
          <h2>Gallery</h2>
          <hr class="divider bg-madison">
                  <form class="form-inline">
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" type="search" name="year">
    <option selected>Choose Year</option>
    <option value="All">See All Images</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
  </select>
  <button type="submit" class="btn btn-outline-success my-1">Submit</button>
</form>
          <div class="offset-top-60">
            <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery">
              <div class="row row-30 justify-content-sm-center" data-lightgallery="group">
                  {% for instance in gallery %}
                <div class="col-sm-6 col-lg-4 isotope-item">
                  <figure class="thumbnail-classic">
                    <div class="thumbnail-classic-img-wrap"><img src="{{ instance.gallery_image.url }}" alt="" width="370" height="770"/>
                    </div>
                    <figcaption class="thumbnail-classic-caption text-center">
                      <div>
                        <h4 class="thumbnail-classic-title">{{ instance.image_name }}</h4>
                      </div>
                    
                     <a class="thumbnail-classic-link icon icon-xxs fa fa-search-plus" href="{{instance.gallery_image.url}}" data-lightgallery="item"><img src="{{instance.gallery_image.url}}" alt="" width="370" height="770"/></a>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
                </div>

              </div>
            </div>
          </div>
      </section>
      <!-- Page Footer-->
    {% endblock %}