{% extends 'Home/base.html' %}
{% block title %}History | Ahsania Mission Medical College{% endblock title %}
{% block page_name %}History{% endblock page_name %}
{% load static %}
{% block content %}
<!-- Classic Breadcrumbs-->
{#      <section class="section breadcrumb">#}
{#        <div class="container">#}
{#          <div class="offset-top-10 offset-md-top-35">#}
{#            <ul class="list-inline list-inline-lg list-inline-dashed p">#}
{#              <li><a href="{% url 'Home:Home' %}">Home</a></li>#}
{#              <li>History#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
{#      #}
            
{#           <section class="section breadcrumb-classic context-dark">#}
{#        <div class="container">#}
{#          <h2>Background History</h2>#}
{#          <div class="offset-top-10 offset-md-top-35">#}
{#            <ul class="list-inline list-inline-lg list-inline-dashed p">#}
{#              <li><a href="{% url 'Home:Home' %}">Home</a></li>#}
{#              <li><a href="#">History</a></li>#}
{# #}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </section>#}
      <!--A Meeting of Minds-->
<section class="section section-xl bg-default" style="padding-top: 25px;">
        <div class="container">
          <div class="row row-50">
            <div class="col-md-4 order-md-2 text-md-start">
              <div class="inset-md-left-30"><img class="img-responsive d-inline-block img-rounded" src="{% static '/images/Khan_Bahadur_Ahsanullah.png' %}" width="340" height="300" alt="">
                <div class="offset-top-20">
                  <h6 class="text-primary fw-bold">Khan Bahadur Ahsanullah (R.)</h6>
                </div>
                <p>Founder of the Dhaka Ahsania Mission.</p>
              </div>
            </div>
            <div class="col-md-8 order-md-1 text-md-start">
              <h2 class="fw-bold">A Meeting of Minds</h2>
              <hr class="divider bg-madison divider-md-0">
              <div class="offset-top-30 offset-sm-top-60">
                <p>Dhaka Ahsania Mission (DAM), a renowned Non-Government 
                    Organization of Bangladesh had been serving the nation in different 
                    sectors like humanitarian, health, micro-credit and education for 
                    more than 60 years with a proven success story. In line with its 
                    philosophy and work policy, it has established a state of the art 
                    health care facility – a 500 (presently 300 bed approved) bedded 
                    Ahsania Mission Cancer & General Hospital (AMCGH) at Uttara of 
                    Dhaka City in 2014. One of the largest cancer specialty hospitals of 
                    the country, it was formally inaugurated by the Honorable Prime 
                    Minister of Bangladesh Sheikh Hasina. Since its inception this 
                    hospital is contributing enormously in giving international standard 
                    oncology & other treatment to the general people of Bangladesh at 
                    a very affordable cost. Objectives in setting up of this hospital were 
                    to create venue for world class treatment and research of cancer 
                    and related diseases within Bangladesh to reach the common 
                    people & thereby making AMCGH to be a ‘Center of Excellence’ in 
                    the country in the field of cancer treatment on NO PROFIT-NO 
                    LOSS basis. 30% of services have been allotted cost free or at 
                    subsidized rates to poor and needy patients. As per the set 
                    objectives the average costs of treatment in this hospital is 
                    considerably less than any other hospitals in private or NGO 
                    sectors in the country. It is also minimizing the patients’ trend in 
                    going abroad for treatment, thereby saving valuable foreign 
                    currency</p>
                </div>
              <p>
                  With a view to diversify its further activities, DAM has recently 
                    extended the services of AMCGH by establishing its educational 
                    wing – Ahsania Mission Medical College (AMMC) to impart medical 
                    education to the future generation by maintaining highest level of 
                    standard. Initially the campus of the medical college has been set 
                    up at levels - 11, 12 & 13 of AMCGH building. 
                    DAM founded the Ahsanullah University of Science and Technology (AUST), Khan Bahadur Ahsanullah Teachers Training College (KATTC), Ahsania Mission College (AMC), Ahsanullah Institute of Information & Communication Technology (AIICT), Ahsania Mission Institute of Medical Technology (AMIMT), Ahsania Institute of Technology and Business (AITB), Ahsania e-Solutions (AeS), Ahsania Mission Book Distribution House (AMBDH), Ahsania Mission Cancer & General Hospital (AMCGH), and NCAM also founded Nalta Sharif Ahsania Mission Orphanage (NSAMO) at Dhaka, naming it in honor of their founder.</p>
                                <p>
               <strong>Founding aims</strong> 
                
                <ul>
                    <li>Develop the social and spiritual life of the entire human community</li>
                    <li> Annihilate the distinction between man and man</li>
                    <li>Cultivate unity and brotherhood and inspire divine love</li>
                    <li>Teach one one’s insignificance and shun one’s pride</li>
                    <li>Enable one to recognize and realize the relation between the Creator and the creation</li>
                    <li>Enable one to realize the duty of man to his Creator and to his fellow beings</li>
                    <li> Render all possible help to the suffering humanity at large.</li>
                </ul>
                
               
               <strong>Vision</strong> <br>
                
                DAM visualizes a society that foster humanity, spirituality, humility, equality and caring the nature..
                
                Mission
                
                DAM provides high quality services towards unity, peace and development of social and spiritual life for the human community in general and for the disadvantaged and suffering humanity, in particular.
                
                Core values:
                
                Humanity, Spirituality, Humility, Equality and equity, Caring the nature, Honesty and morality:
                
                Operating principles:
                
                Excellence and quality, Innovation, Transparency and accountability, Sustainability:
                
                DAM distinctiveness:
                
                DAM is unique and distinctive because of its founding divinity values, which combine service to the humanity and service to the Creator under the motto 'Divine and Humanitarian Service'.
                DAM is also distinct because of its identity as an organization delivering diverse need-based services through both field based and institutional interventions.
                DAM has a unique way of doing ‘business’ that is shaped by its values and works for unlocking human potential enabling communities and societies to engage in creating a better society.</p>
            </div>
          </div>
        </div>
      </section>
       <!--Images-->
      <section>
        <div class="container container-wide">
          <div class="row row-30">
            <div class="col-md-4"><img class="img-responsive d-inline-block" src="{% static '/images/1.jpg' %}" width="570" height="370" alt=""></div>
            <div class="col-md-4"><img class="img-responsive d-inline-block" src="{% static '/images/2.jpg' %}" width="570" height="370" alt=""></div>
            <div class="col-md-4"><img class="img-responsive d-inline-block" src="{% static '/images/7.jpg' %}" width="570" height="370" alt=""></div>
          </div>
        </div>
      </section>
      <!--A Meeting of Minds-->
      <section class="section section-xl bg-default">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col-md-8 text-md-start">
              <h2 class="fw-bold">A Singular Focus</h2>
              <hr class="divider bg-madison divider-md-0">
              <div class="offset-top-30 offset-sm-top-60">
                <p>
                    The main objective of setting up of the college is to create Leaders 
                    of medical profession, who would be competent, committed, caring 
                    and willing to serve the community. 
                    The college is to provide an excellent broad based education with a 
                    focus on professional development for the students to equip them 
                    with knowledge, skill & attitude necessary not only to address the 
                    priority health problems of the community but also to acquire a firm 
                    basis for future training and studies.
                </p>              </div>
              <p>The University's commitment to answering that question - and many others - continues to guide it today.</p>
                          </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      {% endblock %}