{% extends 'Home/base.html' %}
{% block title %}Page Not Found{% endblock title %}
{% load static %}
{% block content %}
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>

    <!-- Page-->
    <div class="page text-center">
      <!-- Page Content-->
      <section class="section page-content section-cover section-404 section-30 bg-default">
        
        <div class="section-xxs">
          <div class="container">
            <div>
              <h1 class="font-default"><span class="big text-light fw-bold">404</span></h1>
            </div>
            <div class="offset-top-10">
              <h2 class="fw-bold">Sorry!<br>This page is under construction.</h2>
            </div>
            <div class="offset-top-15 offset-lg-top-30">
              <hr class="divider bg-madison">
            </div>
          </div>
        </div>
        <div>
         
        </div>
      </section>
    </div>
{% endblock %}